body {
  background: #fcf8fc;
  color: #606060;
  font-size: 16px;
  font-family: sans-serif; }

h1, h3, p {
  margin: 0 0 16px;
  padding: 0; }

h1, h3 {
  font-family: sans-serif;
  text-transform: uppercase; }

a, a:link, a:visited, a:hover {
  color: #38c0fc;
  text-decoration: none; }

aside {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 16px;
  width: 288px;
  height: 100%; }
  aside h1 {
    margin: 0 0 32px; }
    aside h1 a, aside h1 a:link, aside h1 a:visited, aside h1 a:hover {
      display: block;
      width: 256px;
      height: 64px;
      overflow: hidden;
      background: transparent url(/images/52_weeks.png) 0 0 no-repeat;
      outline: none;
      text-indent: -9000px; }
  aside p.social {
    padding: 16px 0;
    text-align: center; }
    aside p.social a, aside p.social a:link, aside p.social a:visited, aside p.social a:hover {
      display: inline-block;
      margin: 0 16px;
      width: 32px;
      height: 32px;
      overflow: hidden;
      text-indent: 32px; }
    aside p.social a.twitter {
      background: transparent url(/images/twitter.png) 0 0 no-repeat; }
    aside p.social a.instagram {
      background: transparent url(/images/instagram.png) 0 0 no-repeat; }
    aside p.social a.github {
      background: transparent url(/images/github.png) 0 0 no-repeat; }

main {
  padding-left: 288px; }
  main article {
    margin: 0 16px;
    border-top: 4px solid #c8c0c0; }
    main article:first-child {
      border-top: none; }
    main article:after {
      display: block;
      clear: both;
      content: ' '; }
    main article section {
      display: inline;
      float: left;
      margin-right: 16px;
      padding: 16px 0; }
    main article section.image {
      width: 640px; }
      main article section.image img {
        display: block;
        margin: 0;
        padding: 0; }
    main article section.details {
      padding-bottom: 0;
      width: 400px; }
    main article a.download {
      display: block;
      padding-left: 28px;
      height: 20px;
      line-height: 20px;
      background: transparent url(/images/download.png) 0 50% no-repeat;
      outline: none; }
  main nav {
    margin: 0 16px;
    padding: 16px 0; }
    main nav:after {
      display: block;
      clear: both;
      content: ' '; }
    main nav a, main nav a:link, main nav a:visited, main nav a:hover {
      display: block;
      height: 20px;
      line-height: 20px;
      outline: none; }
    main nav a.previous {
      float: left;
      padding-left: 20px;
      background: transparent url(/images/previous.png) 0 50% no-repeat; }
    main nav a.next {
      float: right;
      padding-right: 20px;
      background: transparent url(/images/next.png) 100% 50% no-repeat; }

@media only screen and (max-width: 963px) {
  #wrap {
    padding: 0 16px; }

  aside {
    position: static;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 16px 0 0;
    max-width: 640px;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #c8c0c0; }

  main {
    margin: 0 auto;
    padding-left: 0;
    max-width: 640px;
    width: 100%;
    height: auto; }
    main article {
      margin: 0;
      padding: 16px 0; }
      main article section {
        display: block;
        float: none;
        margin-right: 0;
        padding: 0; }
      main article section.image {
        margin-bottom: 16px;
        width: 100%; }
        main article section.image img {
          display: block;
          margin: 0;
          padding: 0;
          max-width: 100%; }
      main article section.details {
        padding-bottom: 0;
        width: 100%; }
    main nav {
      margin: 0;
      padding: 16px 0; } }
