<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="{{ site.author }}" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ site.title }}</title>

		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/site.css">
	</head>

	<body>
		<div id="wrap">
			<aside>
				<h1><a href="/">{{ site.title }}</a></h1>
				<p>My New Year's resolution for 2014 is to make more pixel art! I've been dabbling for the past while and I really want to get better at doing something I love.</p>
				<p>Enter Fifty-Two Weeks. My aim is to create a new and unique piece of pixel art each week for 52 weeks. I'm limiting each piece to 64px x 64px and will only be using the <a href="http://en.wikipedia.org/wiki/List_of_video_game_console_palettes#Famicom.2FNES">NES colour palette</a>. Each peice will be posted by the end of the week (usually Saturday).</p>
				<p class="social">
					<a href="http://twitter.com/kivlor" class="twitter">Twitter</a>
					<a href="http://instagram.com/kivlor" class="instagram">Instagram</a>
					<a href="http://github.com/kivlor" class="github">Github</a>
				</p>
			</aside>

			<main>
				{{ content }}

				<nav>
					{% if paginator.previous_page %}
					<a href="/page{{ paginator.previous_page }}" class="previous">prev</a>
					{% endif %}
					{% if paginator.next_page %}
					<a href="/page{{ paginator.next_page }}" class="next">next</a>
					{% endif %}
				</nav>
			</main>
		</div>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-1916630-5', 'kivlor.com');
			ga('send', 'pageview');
		</script>
	</body>
</html>